@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Forum', serif;
  }
  
  body {
    background: #000000;
    color: #ffffff;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #DC2626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B91C1C;
}